@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:wght@300&family=Raleway+Dots&display=swap');


html {
    background-image: url(../images/background-image-1.jpg);
    margin: 50px;
}

:root {
    --neon-text-color: #FC05F8;
}

.container {
    font-family: 'Poppins', sans-serif;
    /* background-image: url(../images/background-image-xlight.png); */
    background-color: white;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 2rem 4rem;
    color: #fff;
    border-bottom: 10px solid #55555580;
    margin-bottom: 5rem;
}
  
header h1 {
    font-size: 3.5rem;
}

.glowHeader {
    color: #fff;
    -webkit-animation: glowHeader 4s ease-in-out infinite alternate;
    -moz-animation: glowHeader 4s ease-in-out infinite alternate;
    animation: glowHeader 4s ease-in-out infinite alternate;
}


.shadow {
    text-shadow: 3px 3px rgb(0, 0, 0)
}

.tip {
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

main h1 {
    font-size: 2.5rem;
    font-weight: bolder;
}

main h2 {
    font-size: 1.5rem;
}

main h3 {
    font-size: 1rem;
}

main h4 {
    font-size: 0.8rem;
}

.sun {
    max-width: 100px
}

footer {
    font-size: 1rem;
    margin: 25px auto 0;
    width: 45%;
    text-align: center;
    background-color: #000000;
    color: white;
    border-radius: 6rem 2rem;
}

.handwriting {
    font-family: 'Homemade Apple', cursive;
}

#footer {
    /* gradiet Varaiable */
    --gradient: linear-gradient(45deg, #000000, #111111, #333333, #555555, #777777);
    background-image:var(--gradient);
    background-size: 600%;
    background-position: left;
    animation: grad-bg 10s infinite alternate;
}

.glow {
    color: #fff;
    -webkit-animation: glow 4s ease-in-out infinite alternate;
    -moz-animation: glow 4s ease-in-out infinite alternate;
    animation: glow 4s ease-in-out infinite alternate;
}
  
footer span:nth-of-type(2){
    font-family: 'Raleway Dots', cursive;
    font-size: 4rem;
    animation: flicker 1.5s infinite alternate;
}
  
/* .flex-container > section {
    flex-wrap: nowrap;
    width: 100%;
    margin: 10px;
    text-align: center;
} */
  
footer img {
    opacity: 0.2;
    border-radius: 1rem 0 1rem 0;
    max-height: 3rem;
    max-width: 3rem;
}
  
footer img:hover {
    opacity: 1;
}

@keyframes glowHeader {
    from {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px red, 0 0 8px orange, 0 0 10px yellow, 0 0 12px green, 0 0 14px blue, 0 0 16px purple, 0 0 18px rgb(255, 0, 221);
    }
    to {
        text-shadow: 0 0 4px #fff, 0 0 6px green, 0 0 8px blue, 0 0 10px purple, 0 0 12px rgb(255, 0, 221), 0 0 14px red, 0 0 16px yellow, 0 0 18px orange;
    }
}

@keyframes grad-bg {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 4px #fff, 0 0 6px #FC05F8, 0 0 8px #FC05F8, 0 0 10px #FC05F8, 0 0 12px #FC05F8, 0 0 14px #FC05F8;
    }
    to {
        text-shadow: 0 0 4px #fff, 0 0 6px #4e0166, 0 0 8px #4e0166, 0 0 10px #4e0166, 0 0 12px #4e0166, 0 0 14px #4e0166, 0 0 16px #4e0166;
    }
}

@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
    }
    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

@media only screen and (max-width: 640px) {

    html {
        margin: 15px;
    }

    header {
        padding: 1rem;
        margin-bottom: 2rem;
    }

    header h1 {
        font-size: 2rem;
    }

    main h1 {
        font-size: 30px;
        font-weight: bolder;
    }
    
    main h2 {
        font-size: 25px;
    }
    
    main h3 {
        font-size: 20px;
    }

    main h4 {
        font-size: 15px;
    }

    .sun {
        max-width: 50px
    }

    footer {
        width: 80%;
    }
}